html {
    background-color: rgb(254, 255, 192);
}
* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 100%;
}

div {
    display: block;
}

h1 {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 35px;
}

h2 {
    font-family: 'Crimson Pro', serif;
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 28px;
}

.banner *{ 
    border-bottom: solid 2px black;
    text-align: center;
    font-style: italic;
    margin: auto 0px;
    padding: 20px;
    background-size: cover;
}

.container{
    background: linear-gradient(to left top, rgb(4, 136, 37), rgb(24, 1, 80));
    color:aliceblue;

    border: solid 1px gray;
    border-radius: 15px;

    margin: 20px auto;
    padding: 5px 20px
}

.color-label {
    color: black;
    font-weight: 700;
    display: inline-block;
    border: solid 2px black;
    text-align: center;

    min-height: 50px;
    min-width: 50px;
    max-height: 200px;
    max-width: 200px;

    text-overflow: ellipsis;

    padding: 10px 20px;
    margin: 10px;
}

.color-label p {
    font-weight: 700;
}
.ivory{
    background-color: rgb(255, 255, 241);
}

.navy {
    background-color: rgb(3, 3, 88);
    color: white;
}

.sunflower {
    background-color: rgb(255, 230, 0);
}

.std-button {
    background-color: rgb(255, 230, 0);
    min-height: 50px;
    max-width: 200px;
    border-radius: 25px;
    padding: 0px 20px;

    text-align: center;
    font-weight: bold;
}

.std-button:active {
    background-color: rgb(182, 164, 4);
}
.std-button:hover {
    cursor: pointer;
}

.text-container {
    background-color: rgb(90, 85, 107);
    border: solid rgb(48, 48, 48) 5px;
    border-radius: 12px;

    margin-right: 25px;
    padding: 10px;
}

.side-by-side {
    display: inline-block;
}

.table {
    display: inline-block;
    list-style-type: none;
    margin: -3px auto;
    margin-left: -40px;
}

.table li {
    background-color: rgb(90, 85, 107);
    border: solid rgb(48, 48, 48) 1px;
    padding: 5px 50px 10px 5px;
    min-width: 300px;

}